
// defaults
containersDir = "/root/workspace/intogen-plus/containers"
datasetsDir = "/root/workspace/intogen-plus/datasets"
annotationsFile = "${baseDir}/config/annotations.txt"
outputFolder = "intogen_analysis"


manifest {
  author = 'Barcelona Biomedical Genomics Lab'
  description = 'IntOGen analysis pipeline'
  homePage = 'http://www.intogen.org'
  doi = '10.1038/s41568-020-0290-x'
  mainScript = 'intogen.nf'
  defaultBranch = 'master'  
}

params {
   output = outputFolder
   annotations = annotationsFile
   containers = containersDir
   datasets = datasetsDir
   debug = false
   stepsFolder = "${params.output}/steps"
   seed = null
}


env {
    // set default values for datasets
    INTOGEN_DATASETS = params.datasets
    BGDATA_LOCAL = env.INTOGEN_DATASETS + '/bgdata'
    BGDATA_OFFLINE = "FALSE"
}


singularity {
	enabled = true
	cacheDir = params.containers
}

profiles {
    bbglab {
        includeConfig 'config/bbglab.conf'
    }
    local {
        includeConfig 'config/local.conf'
    }
}

process {
    cpus = 24
    errorStrategy = (params.debug)? 'ignore' : 'terminate'

	withLabel: core {
		container = "file:///${singularity.cacheDir}/intogen-core.simg"
	}
	withLabel: bgsignature {
		container = "file:///${singularity.cacheDir}/signature.simg"
	}
    withName: OncodriveFML {
    	container = "file:///${singularity.cacheDir}/oncodrivefml.simg"
    }
    withName: OncodriveCLUSTL {
    	container = "file:///${singularity.cacheDir}/oncodriveclustl.simg"
    }
    withName: VEP {
    	container = "file:///${singularity.cacheDir}/vep.simg"
    }
    withName: dNdScv {
    	container = "file:///${singularity.cacheDir}/dndscv.simg"
    }
    withName: SMRegions {
    	container = "file:///${singularity.cacheDir}/smregions.simg"
    }
    withName: CBaSE {
    	container = "file:///${singularity.cacheDir}/cbase.simg"
    }
    withName: MutPanning {
    	container = "file:///${singularity.cacheDir}/mutpanning.simg"
    }
    withName: HotMAPS {
    	container = "file:///${singularity.cacheDir}/hotmaps.simg"
    }
    withName: deconstructSigs {
    	container = "file:///${singularity.cacheDir}/deconstructsigs.simg"
    }
    withName: Combination {
    	container = "file:///${singularity.cacheDir}/intogen-combination.simg"
    }
    withName: Mutrate {
    	container = "file:///${singularity.cacheDir}/mutrate.simg"
    }
}

timeline {
  enabled = true
}

trace {
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
}
